# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store

# Logs
*.log

# SQLite temporary files
*.db-journal

node_modules/
backend/node_modules/
frontend/node_modules/

.venv/
__pycache__/
*.pyc

.env